<ion-header [translucent]="true" mode="ios" class="ion-no-border"> <!-- Agregamos el "mode" y la "class" para que se genere el efecto al scrollear -->
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border"> <!-- Agregamos el "mode" y la "class" para que se genere el efecto al scrollear -->
    <ion-toolbar>
      <ion-title size="large">Encabezados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment 
    [value]="selectedCategory" 
    (ionChange)="segmentChanged($event)"
    scrolleable
    mode="md"> <!-- Lo dejamos con el estilo de Android -->

    <ion-segment-button *ngFor="let category of categories" [value]="category">
      <ion-label class="ion-text-capitalize">{{ category }}</ion-label>
    </ion-segment-button>

  </ion-segment>

    <!-- Para poder usar "articles" y "article" debemos importar "ComponentsModule" en "tab2.module.ts" -->
    <app-articles 
    [articles]="articles">
    </app-articles>

    <!-- El infinite scroll generalmente se coloca antes del cierre del ion-content -->
    <ion-infinite-scroll 
      threshold="25%" 
      position="bottom" 
      (ionInfinite)="loadData()"
    >
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
