<ion-header [translucent]="true" mode="ios" class="ion-no-border"> <!-- Forzamos a que en todo dispositivo tenga el estilo de ios -->
  <ion-toolbar>
    <ion-title>
      Camila's News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Camila's News</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Para poder usar "articles" y "article" debemos importar "ComponentsModule" en "tab1.module.ts" -->
  <app-articles 
    [articles]="articles">
  </app-articles>

  <!-- El infinite scroll generalmente se coloca antes del cierre del ion-content -->
  <ion-infinite-scroll 
    threshold="25%" 
    position="bottom" 
    (ionInfinite)="loadData()"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
